<section class="adoptsShowSection">
  <ul>
  <li class="adopts-list">

    <p>Thank you for Choosing to Adopt a</p>

      <!-- <li ng-repeat="adopt in adoptsIndex.all"> -->
        <!-- <a ui-sref="adoptsShow({ id: animal.id user.id })"> -->
        <h1>{{ adoptsShow.adopt.animal.species }}</h1>
        <img src="{{ adoptsShow.adopt.animal.image }}">

          <h1>{{ adoptsShow.adopt.amount }}</h1>
          <h1>{{ adoptsShow.adopt.user.username }}</h1>

        <button ui-sref="animalsIndex({ id: user.id })" class="button">Animals Show</button>
      </li>
    </li>
  </ul>
</section>
