<section>
  <p>Adopt an Animal to save for future generations</p>
  <h1>{{ animalsShow.animal.species }}</h1>
  <h1>{{ animalsShow.animal.location }}</h1>
  <img ng-src="{{ animalsShow.animal.image }}"/</h1>
  <h1>{{ animalsShow.animal.gender }}</h1>

  {{ animalsShow.newAdoption }}
  <form ng-submit="animalsShow.adopt()">
    Choose an Amount to donate to an Adoption.?

    <label>
      £5
      <input type="radio" name="amount" ng-model="animalsShow.newAdoption.amount" value="5">
    </label>

    <label>
      £10
      <input type="radio" name="amount" ng-model="animalsShow.newAdoption.amount" value="10">
    </label>

    <label>
      £20
      <input type="radio" name="amount" ng-model="animalsShow.newAdoption.amount" value="20">
    </label>

    <button>Adopt</button>

  </form>

  <h1>{{ animalsShow.animal.habitat }}</h1>
</section>
