<form class="reg-main" novalidate ng-submit="register.submit()">
  <div class="reg-container">
    <div>
    <label class="username">Username</label>
    <input type="text" placeholder="Username" ng-model="register.user.username">
  </div>
  <div>
    <label class="email">Email</label>
    <input type="email" placeholder="Email" ng-model="register.user.email">
  </div>
  <div>
    <label class="pass">Password</label>
    <input type="password" placeholder="Password" ng-model="register.user.password">
  </div>
  <div>
    <label>Password Confirmation</label>
    <input type="password" placeholder="Password Confirmation" ng-model="register.user.password_confirmation">
  </div>
</div>
  <button>Register</button>
</form>
<br><h1>Species Protection Agency</h1></br>

<br><h2>For a future where people and Nature Thrive</h2>
<h3>Sign up and Adopt today</h3></br>
<h>Help our work to protect some of the world's most vulnerable animals</h4>
</div>
