<section class="userShowSection">
  <h1>{{ usersShow.user.username }}</h1>
  <h1>{{ usersShow.user.email }}</h1>
  <div class="row">
    <div class="user-list">
    <!-- <button ng-if="usersShow.isLoggedIn()" ui-sref="usersEdit({ id: usersShow.user.id })" class="button">Edit</button>
    <button ng-if="userShow.isLoggedIn()" ui-sref="userDelete({ id: userShow.user.id })" ng-click="usersShow.delete.user.id()" class"button">Delete</button> -->


    <div class="col-sm-3" ng-repeat="adoption in usersShow.user.adopts">
        <h1>{{ animalsShow.animal }}</h1>
        <div class="users-list-single" style="background-image:url('{{ adoption.animal.image }}')">
        <h1>{{ adoption.amount }}</h1>
        <a ui-sref="animalsShow({id: adoption.animal.id})">{{adoption.animal.species }}</a>
        <h1>{{ adoption.animal.location }}</h1>
      </div>
    </div>
  </div>
</div>
</section>
<div class="col-sm-4" ng-repeat="animal in animalsIndex.all">
