<!DOCTYPE html>
<html ng-app="finalProject">
  <head>
    <meta charset="utf-8">
    <title>Final Project</title>
    <link rel="stylesheet" href="/css/vendor.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/vendor.js" charset="utf-8"></script>
    <script src="/js/app.js" charset="utf-8"></script>
  </head>
  <body ng-controller="MainController as main">
  <header>
    <nav class="navbar navnar-light bg-faded">
      <div class="container">
        <div class="collapse navbar-toggleable-md" id="navbarResponsive">
          <ul class="nav navbar-nav">
          <!-- <ul> -->
          <li class="nav-item"><a ui-sref="usersIndex" ui-sref-active="active">Users Index</a></li>
          <li class="nav-item" ng-if="main.isLoggedIn()"><a ui-sref="usersShow({id: main.currentUserId})" ui-sref-active="active">Profile</a></li>
          <li class="nav-item"><a ui-sref="animalsIndex" ui-sref-active="active">Animals Index</a></li>
          <li class="nav-item" ng-if="!main.isLoggedIn()"><a ui-sref="register"><input type="clicked" ng-model="clicked" class="register" ui-sref-active="active">Register</a></li>
          <li class="nav-item" ng-if="!main.isLoggedIn()"><a ui-sref="login" ui-sref-active="active">Login</a></li>
          <li class="nav-item"><a href="#" ui-sref-active="active" ng-if="main.isLoggedIn()" ng-click="main.logout()">Logout</a></li>
        </ul>
          <!-- </ul> -->
        </div>
      </div>
    </nav>
  </header>
  <img class="img-circle" src="https://c1.staticflickr.com/3/2799/4522164759_ec3f7e78ed_o.gif">
  <main class="container" ui-view></main>

  <div>
    <h1>Species Protection Agency</h1>
    <h2>For a future where people and Nature Thrive</h2>
  </div>
</body>
</html>

<!-- <nav class="navbar navbar-light bg-faded">
        <div class="container">
          <div class="collapse navbar-toggleable-md" id="navbarResponsive">
            <ul class="nav navbar-nav">
              <li class="nav-item">
                <a ui-sref="index">HOME</a>
              </li>
              <li class="nav-item">
                <a ui-sref="requestsIndex">Your Requests</a>
              </li>
              <li class="nav-item">
                <a ui-sref="itemsNew">List an Item</a>
              </li>
              <li class="nav-item">
                <a ui-sref="itemsNew">Account</a>
              </li>
              <li class="nav-item">
                <a ui-sref="itemsNew">Browse</a>
              </li>
                <li class="nav-item">Logout</li>
                <li class="nav-item"></li>
            </ul>
          </div>
        </div>
      </nav> -->
