body {
  background-color: #50d07d;
  text-align: center;
  font-size: 15px;
  font-family: helvetica, sans-serif;
  color: white;
  text-shadow: 2px 2px 3px #000000;
}


.button {
    background-color: #50d07d; /* Green */
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}


img {
  max-width: 350px;
  height: 250px;
  border-color: pink;
  padding-top: 10px;
}

.usersShowList {
  background-color: #F89834;
  list-style: none;
}

.nav-item {
  font-color: #F89834;
}

.animalsIndexList {
  background-color: #F89834;
  list-style: none;
}
